body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

div {
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
}

#error {
    font-size: 30px;
    display:none;
}
.team {
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
    border: 1px solid black;
    float: center;
    display:block;
    text-align: center;
}

#regenerate-api-key {
    margin-top: 5px;
    display:none;
}
.team-content {
    text-align: center;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display:none;
}
#loader1, #loader2 {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid black; 
    border-radius: 100%;
    width:  30px;
    height: 30px;
    animation: spin 0.75s linear infinite;
    margin-top: 5px;
    display: none;
  }
@keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
  }

  /* .easy-leagues {
position: absolute;
  } */
  /* .league-color {
      position: absolute;
  } */
  #submit-new-key-div {
      display: none;
  }
  .content-section {
    display:inline-block; 
    margin-right: 20px; 
    margin-left: 20px;
  }
  .queue-icon-league-div {
    display:inline-block; 
    margin:5px;
  }
  .name {
    text-align:center;
  }
  .league-img {
    height: 20%;
    width: 50px;
    position: relative;
    display:inline-block;
}
.league {
    text-align: center;
}
.queue {
    text-align: center;
}
